body{
	font-family: Titillium Web;
	text-align: center;
	color: #222222;
	font-size: 20px;
}

.row{
	margin: 0;
	text-align: center;
}

.jumbo{
	
	font-size: 50px;
	font-weight: 900;

}
.jumbo2{
	
	font-size: 120px;
	font-weight: 700;
}
.descrip{
	
	font-size: 20px;
	font-weight: 400;
}

.pointer{
	pointer-events: none;
}

.listclass{
	text-align:left;
	font-size: 15px;
	list-style-position: inside;
}